/* Resetando margens e paddings */
* {
  margin: 0;
  padding: 0;
}

/* Estilos gerais para ambas as páginas */
h1 {
  margin-bottom: 20px;
  font-weight: lighter;
  font-size: 50px;
}

::placeholder {
  color: gray !important;
  font-family: "Raleway", sans-serif !important;
  font-weight: 300 !important;
}
button[type="submit"] {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

button[type="submit"]:hover {
  background-color: #333;
}

/* Login - Estilos específicos */
.test-container {
  display: flex;
  width: 100%;
  max-width: 100%;
  height: 90vh;
  background-color: #f8f9fa;
}

.container_direita {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_esquerda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #000;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  width: 40%;
  height: 100vh;
}

.container_esquerda img {
  position: relative;
  left: 250px;
}

.container_direita {
  width: 20%;
}

.title {
  color: #000;
}

.form-group {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin-top: 20px;
}
label {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}
.form-control {
  font-family: "Raleway", sans-serif;
  width: 350px;
  border: none;
  border-bottom: 2px solid #000;
  padding: 8px 4px;
  background-color: transparent;
  font-size: 20px;
  color: gray;
}

.form-control:focus {
  outline: none;
}

.form-control::placeholder {
  color: #000;
  transition: opacity 0.2s ease;
  opacity: 1;
}

.form-control:focus::placeholder {
  opacity: 0;
}

.custom-label {
  position: absolute;
  top: 50%;
  left: 4px;
  font-size: 16px;
  color: #000;
  pointer-events: none;
  transition: 0.2s ease all;
  transform: translateY(-50%);
  opacity: 0;
}

#email-input,
#password-input {
  border-radius: 0;
  font-family: "Raleway", sans-serif;
}
.form-control:focus {
  box-shadow: none;
  border-color: #000;
}
input {
  border-radius: 0 !important ;
}
.form-control:focus ~ .custom-label,
.form-control:not(:placeholder-shown) ~ .custom-label {
  top: -10px;
  font-size: 12px;
  color: #000;
  opacity: 1;
}

.forgot-password {
  display: inline-block;
  margin-top: 8px;
  font-size: 14px;
  color: #000;
  opacity: 0.7;
  text-decoration: underline;
  cursor: pointer;
}

.EntrarComRedesSociais {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  margin-top: 20px;
}

.EntrarComRedesSociais a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  gap: 10px;
  color: #0a0909;
  text-decoration: none;
}

.EntrarComRedesSociais a img {
  margin-right: 8px;
}

.facebook {
  border-left: 1px solid gray;
}

/* Cadastro - Estilos específicos */
.cadastro-container {
  display: flex;
  width: 100%;
  max-width: 100%;
  height: 90vh;
  background-color: #f8f9fa;
}
p {
  color: black;
}
.auth-left-section {
  position: absolute;
  transition: 2.5s all;
  z-index: 3;
  transition: 1s all;
  background-color: #000;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  width: 30%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out, background-color 2.5s ease-in-out,
    width 0.5s ease-in-out; /* Adiciona transição suave */
  /*  */
}

.pos-rel {
  width: 30%;
  position: relative;
}

.anim {
  position: absolute;
  transition: all 1.5s;
  animation: 1.5s teste ease-in-out forwards;
}

.cadastro-left-section img {
  position: relative;
  left: 250px;
}

.auth-right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.cadastro-form-group {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin-top: 20px;
}

.cadastro-input {
  font-family: "Raleway", sans-serif;
  width: 350px;
  border: none;
  border-bottom: 2px solid #000;
  padding: 8px 4px;
  background-color: transparent;
  font-size: 20px;
  color: #000;
}

.cadastro-input:focus {
  outline: none;
}

.cadastro-input::placeholder {
  color: #000;
  transition: opacity 0.2s ease;
  opacity: 1;
}

.cadastro-input:focus::placeholder {
  opacity: 0;
}

.cadastro-label {
  position: absolute;
  top: 50%;
  left: 4px;
  font-size: 16px;
  color: #000;
  pointer-events: none;
  transition: 0.2s ease all;
  transform: translateY(-50%);
  opacity: 0;
}

.cadastro-input:focus ~ .cadastro-label,
.cadastro-input:not(:placeholder-shown) ~ .cadastro-label {
  top: -10px;
  font-size: 12px;
  color: #000;
  opacity: 1;
}

.cadastro-social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  margin-top: 20px;
}

.cadastro-social-media a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  gap: 10px;
  color: #0a0909;
  text-decoration: none;
}

.cadastro-social-media a img {
  margin-right: 8px;
}

.cadastro-facebook {
  border-left: 1px solid gray;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .auth-left-section{
    height: 200px;
    width: 415px;
    display: flex;
    /* align-items: center; */
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 0;
    top: 0;
    animation: none;
  }
  .auth-right-section{
    margin-top: 50%;

  }
  .bola {
    display: flex !important;
    position: static !important;
    width: 120px !important;
    height: 120px !important;
  }
  .auth-right-section {
    
    display: flex !important;
    justify-content: space-evenly !important;
    align-items: center !important;
    margin-left: 0;
    width: 50%;
  }
  .auth-container{
    display: flex !important;
    justify-content: center  !important;
    width: 100% !important;
    overflow-x: hidden;

  }
  form{
    margin: 0 !important;
    padding: 0 !important;

  }
  .pos-rel{
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

.auth-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  transition: background-color 0.5s ease;
}

.bola {
  position: relative;
  left: 35%;
  transition: opacity 0.5s ease-in-out;
}
.google {
  background-color: white;
  border: solid 1px #000;
  margin: 5px;
  padding: 5px;
  transition: 0.5s;
  border-bottom: gray 1px solid;
}
.google:hover {
  background-color: black;
  transition: 0.5s;
  border-color: black;
  color: white;
}
.cadastro-mode {
  background-color: #bf0b3b;
  /* Cor vermelha para o modo de cadastro */
  transition: 2.5s all;
}

.cadastro-mode .bola {
  opacity: 0.8; /* Suave diminuição de opacidade para efeito */
  transform: translateX(15%); /* Animação de translação */
  opacity: 1; /* Suave diminuição de opacidade para efeito */
}

@keyframes teste {
  0% {
    width: 30%;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 30%;
  }
}

.cadastro-mode .auth-left-section {
  background-color: #bf0b3b; /* Cor vermelha para o modo de cadastro */
  width: 100%; /* Faz a seção colorida ocupar toda a largura da tela */
  border-radius: 0; /* Remove o raio da borda quando expandir */
}
